@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.border-gradient {
  border-image: linear-gradient(to right, #ff69b4, #8a2be2) 1;
  transition: border-image 0.3s ease;
}

.border-gradient:hover {
  border-image: linear-gradient(to right, #ff69b4, #8a2be2) 1;
}

.barlowFont{
  font-family: "Barlow", sans-serif;
}
#typewriter {
  transition: opacity 0.5s ease-out; /* Add a transition for smoother animation */
}

